CAMUNDA_PORT=8080
ADE_PORT=8070
GMS_PORT=8081
CIR_PORT=8082
CPF_PORT=8083
WORKERS_PORT=8091

CAMUNDA_BASE_URL=http://camunda7:8080/engine-rest
GMS_BASE_URL=http://gms:8081
CIR_BASE_URL=http://cir:8082
PPG_MANAGEMENT_BASE_URL=http://host.docker.internal:8090

GMS_MAIL_USERNAME=change-me
GMS_MAIL_PASSWORD=change-me
GMS_MAIL_SSL_TRUST=imap.gmail.com
GMS_BINDINGS_FILE=/config/bindings.json
CIR_ROUTES_FILE=/config/routes.json
